:host {
  display: block;
}

a {
  cursor: pointer;
}

.container {
  background-color: white;

}

.container-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.logo {
  display: flex;
  align-items: center;
  color: var(--green);
}


.avatar-img {
  width: 40px;


}

.logout-icon {
  width: 30px;
}

nav {
  padding: 10px;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  display: none;
}

ul {
  display: flex;
  overflow-x: hidden;
  overflow: auto;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
}

li {
  scrollbar-width: none;
  scroll-snap-align: start;
  flex-shrink: 0;
  list-style: none;
  margin: 0 10px;
  text-decoration: none;
  cursor: pointer;
  background-color: var(--light-gray);
  padding: 8px 20px 8px 20px;
  border-radius: 5px;
  color: var(--green);
}

li:hover {
  background-color: var(--green);
  color: white
}

.active {
  color: white;
  font-weight: bold;
  background-color: var(--green);
}