<div class="container">
  <div class="container-top">
    <img class="avatar-img" src="/assets/ana.jpg" alt="User avatar" />
    <img routerLink="/login" class="logout-icon" src="/assets/exit.png" alt="Logout" />
  </div>

  <nav>
    <ul>
      <li routerLink="/home" routerLinkActive="active">Inicio</li>
      <li routerLink="/expenses" routerLinkActive="active">Gastos</li>
      <li routerLink="/incomes" routerLinkActive="active">Ingresos</li>
      <li routerLink="/options" routerLinkActive="active">Opciones</li>
      <li routerLink="/home" routerLinkActive="active">Otra Opcion</li>
      <li routerLink="/options" routerLinkActive="active">Otra más</li>
    </ul>
  </nav>

</div>