<div class="container">
  <form (ngSubmit)="onSubmit()" [formGroup]="newExpenseForm">
    
    <label class="type-label" for="date">Seleccione el tipo de gasto</label>
    

    <div class="type">
      <div class="type__option">
        <input
          class="radio__option"
          type="radio"
          name="type"
          id="comida"
          value="comida"
          formControlName="type"
          checked
        />
        <label for="comida">
          <img
            class="radio__option-img"
            src="/assets/comida.png"
            alt="comida icon"
          />
          Comida
        </label>
      </div>

      <div class="type__option">
        <input
          class="radio__option"
          type="radio"
          name="type"
          id="gatos"
          value="gatos"
          formControlName="type"
        />
        <label for="gatos"
          ><img
            class="radio__option-img"
            src="/assets/gatos.png"
            alt="gatos icon"
          />Gatos</label
        >
      </div>
      <div class="type__option">
        <input
          class="radio__option"
          type="radio"
          name="type"
          id="ocio"
          value="ocio"
          formControlName="type"
        />
        <label for="ocio"
          ><img
            class="radio__option-img"
            src="/assets/ocio.png"
            alt="ocio"
          />Ocio</label
        >
      </div>
      <div class="type__option">
        <input
          class="radio__option"
          type="radio"
          name="type"
          id="otros"
          value="otros"
          formControlName="type"
        />
        <label for="otros"
          ><img
            class="radio__option-img"
            src="/assets/otros.png"
            alt="otros"
          />Otros</label
        >
      </div>
      <div class="type__option">
        <input
          class="radio__option"
          type="radio"
          name="type"
          id="farmacia"
          value="farmacia"
          formControlName="type"
        />
        <label for="farmacia"
          ><img
            class="radio__option-img"
            src="/assets/farmacia.png"
            alt=""
          />Farmacia</label
        >
      </div>
      <div class="type__option">
        <input
          class="radio__option"
          type="radio"
          name="type"
          id="transporte"
          value="transporte"
          formControlName="type"
        />
        <label for="transporte"
          ><img
            class="radio__option-img"
            src="/assets/transporte.png"
            alt="transporte"
          />Transporte</label
        >
      </div>
      <div class="type__option">
        <input
          class="radio__option"
          type="radio"
          name="type"
          id="coche"
          value="coche"
          formControlName="type"
        />
        <label for="coche"
          ><img
            class="radio__option-img"
            src="/assets/coche.png"
            alt="coche"
          />Coche</label
        >
      </div>

      <div class="type__option">
        <input
          class="radio__option"
          type="radio"
          name="type"
          id="piso"
          value="piso"
          formControlName="type"
        />
        <label for="piso"
          ><img
            class="radio__option-img"
            src="/assets/piso.png"
            alt="piso"
          />Piso</label
        >
      </div>
      <div class="type__option">
        <input
          class="radio__option"
          type="radio"
          name="type"
          id="telefono"
          value="telefono"
          formControlName="type"
        />
        <label for="telefono"
          ><img
            class="radio__option-img"
            src="/assets/telefono.png"
            alt="caprichos"
          />Teléfono</label
        >
      </div>
      <div class="type__option">
        <input
          class="radio__option"
          type="radio"
          name="type"
          id="caprichos"
          value="caprichos"
          formControlName="type"
        />
        <label for="caprichos"
          ><img
            class="radio__option-img"
            src="/assets/caprichos.png"
            alt="caprichos"
          />Caprichos</label
        >
      </div>
    </div>
    <label class="input-label" for="date">Fecha</label>
    <input
      class="input-form"
      type="date"
      name="date"
      id="date"
      formControlName="date"
    />
    <label class="input-label" for="amount">Cantidad</label>
    <input
      class="input-form"
      type="number"
      inputmode="numeric"
      id="amount"
      name="amount"
      formControlName="amount"
      placeholder="Ingrese la cantidad"
    />

    <label class="input-label" for="notes">Descripción</label>
    <input
      type="text"
      id="notes"
      name="notes"
      list="sugerences"
      formControlName="notes"
      class="input-form"
      placeholder="Introduzca una descripción"
    />
    <datalist id="sugerences">
      <option value="Auchan"></option>
      <option value="Biedronka"></option>
      <option value="Billetes tranvía"></option>
      <option value="Bonobus"></option>
      <option value="Cremas"></option>
      <option value="Gasolina"></option>
      <option value="Kaufland"></option>
      <option value="Lavado coche"></option>
      <option value="Lidl"></option>
      <option value="McDonal's"></option>
      <option value="McDonal's"></option>
      <option value="Melatonina"></option>
      <option value="Netto"></option>
      <option value="Pan"></option>
      <option value="Play"></option>
      <option value="Pyszne.pl"></option>
      <option value="Rossmann"></option>
      <option value="Uber"></option>
      <option value="Unagi"></option>
      <option value="Vitaminas"></option>
      <option value="Youtube"></option>
      <option value="Zabka"></option>
      <option value="Zooplus"></option>
    </datalist>

    <div class="container__buttons">
      <!-- <button type="submit" [disabled]="!newExpenseForm.valid"> -->
      <button type="submit">
        Guardar gasto
      </button>
    </div>
  </form>
</div>
