<!-- <button (click)="copiar()">copiar</button> -->
<div class="container">
  <div class="option">
    <img class="option-img"  src="/assets/buscando.png" alt="" />
    <p class="option-txt">Filtrar movimientos por fecha</p>
  </div>
  <div class="option">
    <img class="option-img"  src="/assets/estadisticas.png" alt="" />
    <p class="option-txt">Ver estadisticas por tipo de gasto</p>
  </div>
  <div class="option">
    <img class="option-img"  src="/assets/cheque.png" alt="" />
    <p class="option-txt">Buscar movimientos</p>
  </div>
  <div class="option">
    <img class="option-img"  src="/assets/contabilidad.png" alt="" />
    <p class="option-txt">Calcular gasto por día</p>
  </div>
</div>
