:host {
  display: block;
}
.container{
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.option{
  display: flex;
 align-items: center;
 gap: 20px;
  padding: 10px;
  margin: 10px 0px;
  border: 1px solid var(--gray);
  background-color: white;
  border-radius: 5px;
}
.option-img{
  width: 40px;
}
.option-txt{
   
  font-weight: bold;
}