:host {
  display: block;
}

.resume__container {

  margin: 10px 5px;

}

.title {
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: bold;
}

.date {
  margin-bottom: 10px;
}

.total {
  font-weight: bold;
  font-size: 25px;
}

.resume {
  background-color: white;
  border: 1px solid var(--gray);
  border-radius: 5px;
  padding: 15px 5px 5px 5px;
  height: 100px;
  background-image: url('/assets/resume.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;

}