<div class="top__container">
  <div class="avatar">
    <img class="avatar__img" src="/assets/ana.jpg" alt="User avatar" />
  </div>
  <div class="logout__option">
    <a routerLink="/login"><img class="logout__icon" src="/assets/logout.svg" alt="Logout" /></a>
  </div>
</div>
<nav>
  <ul>
    <li><a class="btn" routerLink="/home">Inicio</a></li>
    <li><a class="btn" routerLink="/expenses">Gastos</a></li>
    <li><a class="btn" routerLink="/incomes">Ingresos</a></li>
    <li><a class="btn" routerLink="/options">Opciones</a></li>
  </ul>
</nav>
