:host {
  display: block;
}

.general__container {
  background-color: white;
  padding-top: 10px;
}

.top__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
  margin-bottom: 15px;

}

.avatar__img {
  width: 50px;
  border-radius: 50%;
}

.logout__icon {
  width: 30px;
}

.nav__container {
  padding-bottom: 15px;
}

ul {
  display: flex;
  flex-wrap: nowrap;
  overflow: scroll;
  
}

li {
  list-style: none;
  flex: 1 0 auto;
  margin: 0 5px;
  text-decoration: none;
  cursor: pointer;
  background-color: var(--light-gray);
  padding: 8px 15px 8px 15px;
  border-radius: 5px;
  color: var(--green);
}

li:hover {
  background-color: var(--green);
  color: white
}

.active {
  color: white;
  font-weight: bold; background-color: var(--green);
}