.container {
    max-width: 480px;

    height: 100vh;
}

@media screen and (min-width: 600px) {
    .container {
        border-left: 1px solid black;
        border-right: 1px solid black;

        margin: 0 auto;


    }
}