:host {
  display: block;

}

.main__container {
  display: flex;
  overflow-x: hidden;
  overflow: auto;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
}
::-webkit-scrollbar {
  display: none;
}
.opt {
  flex:0 0 85%;
  /* scroll-snap-align: start; */
  margin-right: 15px;
  scrollbar-width: none;
  
}