:host {
  display: block;
}

.container {
  display: flex;
  flex-direction: column;
}

.container__main {
  display: flex;
  overflow-x: hidden;
  overflow: auto;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  margin-bottom: 20px;
}

.container__options__title {
  padding: 10px;
  font-weight: bold;
}

.container__options {
  display: flex;
  overflow-x: hidden;
  overflow: auto;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  margin-bottom: 30px;
  padding: 0 10px;
}

::-webkit-scrollbar {
  display: none;
}

.container__main__opt {
  flex: 0 0 85%;
  /* scroll-snap-align: start; */

  scrollbar-width: none;
}

.container__options__opt {
  flex: 0 0 35%;


  scrollbar-width: none;
}