<div class="container">
  <div class="container__main">
    <div class="container__main__opt">
      <app-resume></app-resume>
    </div>
    <div class="container__main__opt">
      <app-total-expense></app-total-expense>
    </div>
    <div class="container__main__opt">
      <app-total-income></app-total-income>
    </div>
  </div>
  <div class="container__options">
    <div class="container__options__opt">
      <app-resume></app-resume>
    </div>
    <div class="container__options__opt">
      <app-total-expense></app-total-expense>
    </div>
    <div class="container__options__opt">
      <app-total-income></app-total-income>
    </div>

  </div>
</div>