<div class="container">
  <div class="container__main">
    <div class="container__main__opt ">
      <app-resume></app-resume>
    </div>
    <div class="container__main__opt">
      <app-total-expense></app-total-expense>
    </div>
    <div class="container__main__opt">
      <app-total-income></app-total-income>
    </div>
  </div>
  <div class="container__options__title">
    Hoy necesito
  </div>
  <div class="container__options">
    <div class="container__options__opt" routerLink="/new-income" >
      <app-big-option [txt]="'Agregar un nuevo'" [action]="'Ingreso'" [image]="'ingreso.png'"></app-big-option>
    </div>
    <div class="container__options__opt" routerLink="/new-expense" >
      <app-big-option [txt]="'Agregar un nuevo'" [action]="'Gasto'" [image]="'pago.png'"></app-big-option>
    </div>
    <div class="container__options__opt" routerLink="/options" >
      <app-big-option [txt]="'Ver mas'" [action]="'Opciones'" [image]="'opciones.png'"></app-big-option>
    </div>

  </div>
  <div class="container__last__movement">
    <app-day-transactions></app-day-transactions>
  </div>
</div>