:host {
  display: block;
}

.container {
  padding: 10px;
}

.type {
  display: flex;
  justify-content: space-between;
  
  margin-bottom: 50px;
}

.radio__option {
  opacity: 0;
  width: 0;
}

.type__option label {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background-color: white;
  width: 100px;
  height: 100px;
  padding: 10px;

  border: 1px solid var(--gray);
  border-radius: 5px;
}

.type__option label:hover {
  background-color: var(--light-gray);
}

/* .type__option input[type="radio"]:focus + label {
    border: 2px solid var(--green);
} */

.radio__option:checked+label {

  border: 2px solid var(--green);
}

.radio__option-img {
  height: 50px;

}

.input-form {
  display: block;
  margin: 5px 0px;
  width: 100%;
  background-color: white;
  border-radius: 5px;
  border: 1px solid var(--gray);
  padding: 15px;
  font-size: 15px;
}

.input-form:focus {
  outline: none;
  border: 2px solid var(--green);

}