<div class="container">
  <form (ngSubmit)="onSubmit()" [formGroup]="newIncomeForm">
     @if (newIncomeForm.get('date')?.hasError('required') &&
    newIncomeForm.get('date')?.touched) {
    <p class="error-msg">Introduzca una fecha</p>
    }@if (newIncomeForm.get('amount')?.hasError('required') &&
    newIncomeForm.get('amount')?.touched) {
    <p class="error-msg">Introduzca una cantidad</p>
    } @if (newIncomeForm.get('type')?.hasError('required') &&
    newIncomeForm.get('type')?.untouched) {
        <label class="type-label" for="date">Selecciona el tipo de ingreso</label>
    }

    
    <div class="type">
      <div class="type__option">
        <input
          class="radio__option"
          type="radio"
          name="type"
          id="voucher"
          value="voucher"
          formControlName="type"
          checked
        />
        <label for="voucher">
          <img class="radio__option-img" src="/assets/coupon.png" alt="" />
          Voucher
        </label>
      </div>

      <div class="type__option">
        <input
          class="radio__option"
          type="radio"
          name="type"
          id="nómina"
          value="nómina"
          formControlName="type"
        />
        <label for="nómina"
          ><img
            class="radio__option-img"
            src="/assets/salary.png"
            alt=""
          />Nómina</label
        >
      </div>
      <div class="type__option">
        <input
          class="radio__option"
          type="radio"
          name="type"
          id="otros"
          value="otros"
          formControlName="type"
        />
        <label for="otros"
          ><img
            class="radio__option-img"
            src="/assets/financial-freedom.png"
            alt=""
          />Otros</label
        >
      </div>
    </div>
    <label class="input-label" for="date">Fecha</label>
    <input
      class="input-form"
      type="date"
      name="date"
      id="date"
      formControlName="date"
      value="2023-12-31"
    />
    <label class="input-label" for="amount">Cantidad</label>
    <input
      class="input-form"
      type="number"
      inputmode="numeric"
      id="amount"
      name="amount"
      formControlName="amount"
      placeholder="Ingrese la cantidad"
    />

    <label class="input-label" for="notes">Notas</label>
    <input
      type="text"
      id="notes"
      name="notes"
      formControlName="notes"
      class="input-form"
      placeholder="Información adicional (opcional)"
    />

    <div class="container__buttons">
      <button type="submit" [disabled]="!newIncomeForm.valid">
        Guardar ingreso
      </button>
    </div>
  </form>
</div>
