<div class="container">
  <div class="container__header">
    <div class="date">18/12/2023</div>
    @if (true) {
    <div class="more">Todos</div>
    }
  </div>

  <div class="container__data">
    @for (item of data |async; track item.id ) {
    <div class="transaction">
      <div class="left__content">
        <!-- <img src="/assets/{{ item.type }}.png" alt="" /> -->
        @if (item.type=='famacia y salud') {
        <img src="/assets/sleeping-pills.png" alt="" />
        } @else {
        <img src="/assets/{{ item.type }}.png" alt="" />
        }
        <span class="notes">{{ item.notes | uppercase }}</span>
      </div>

      <div class="right__content">
        <span class="amount"
          >{{ item.amount }}<span class="pln">{{ " " }}PLN</span>
        </span>
      </div>
    </div>

    }
  </div>
</div>
