<div class="container">
  <div class="container__header">
    <div class="date"></div>
    @if (true) {
    <div class="more">Todos</div>
    }
  </div>
  @for (item of data$ |async; track item.day ) {
  {{ item.day }}
  <div class="container__data">
     @for (subItem of item.data; track subItem.id) {<div class="transaction">
     
      <div class="left__content">
        <img src="/assets/{{ subItem.type }}.png" alt="" />
        <span class="notes">{{ subItem.notes | uppercase }}</span>
      </div>

      <div class="right__content">
        <span class="amount"
          >{{ subItem.amount }}<span class="pln">{{ " " }}PLN</span>
        </span>
      </div>
     
    </div> }
  </div>
  }
</div>
