:host {
  display: block;
}

.container-one {
  margin: 0px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  padding: 10px;
  border: 1px solid var(--gray);
  border-radius: 5px;
  gap: 10px;
}

.title {
  margin: 20px 10px 5px 10px;
  font-weight: bold;
}

.dates {
  display: flex;
  gap: 10px;
}

.date-input {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.calendar-title {
  margin-bottom: 5px;
}

.calendar {
  padding: 10px;
  border: 1px solid var(--gray);
  border-radius: 5px;
}

.calendar:focus {
  outline: none;
  border: 2px solid var(--green);
}
.buttons{
  display: flex;
}
.btn {
  background-color: var(--light-gray);
  border: none;
  padding: 10px;
  border-radius: 5px;
  flex:1;
  margin-top: 10px;
}
.btn:hover{
  background-color: var(--green);
  color: white;
  cursor: pointer;
}

:host {
  display: block;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 10px;
}


.day{
  font-size: 11px;
  font-weight: bold;
}
.more {
  color: green;
}

.total__quantity {
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 10px;
}

.container__data {
  display: flex;
  flex-direction: column;
  /* background-color: white; 
  border: 1px solid var(--gray); 
  border-radius: 5px;
  padding: 10px; */
  width: 100%;
  height: auto;
  gap: 10px;
  margin-bottom: 30px;
  margin-top: 5px;
  
}

.transaction {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--gray);
  padding: 10px 5px;
  border-radius: 5px;
  background-color: white;
}

.left__content {
  display: flex;
  align-items: center;
}

.right__content {
  display: flex;
}

img {
  height: 25px;
  margin-right: 10px;
}

.amount {
  font-weight: bold;
  width: 100%;
}

.pln {
  font-size: 10px;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}