@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
  font-size: 13px;
}

body {
  background-color: #f7f8f8;
}

:root {


  --green: #214b39;
  --light-green: #304D30;
  --stone: #B6C4B6;
  --light-stone: #EEF0E5;

}