:host {
  display: block;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.container__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.title {
  font-weight: bold;
  color: var(--green);
}

.details {
  color: green;
}

.total__quantity {
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 10px;

}

.container__data {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  background-color: white;
  border: 1px solid var(--gray);
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  height: 100px;
  background-image: url('/assets/calculator.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}