<div class="container">
  <div class="container__header">
    <div class="title">Resumen</div>
    <div class="more">Más detalles</div>
  </div>

  <div class="container__data">
    <div class="container__data__text">
      <span class="txt">Saldo{{ " " }} {{dayFormated}}</span>
      <span class="total__quantity">
        
        
        
        {{total$ |async}} PLN
      
      
      </span>
    </div>
    <div class="container__data__img">
      <img src="/assets/resumen.png" alt="">
    </div>

  </div>
</div>
